@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&family=Roboto:wght@100;300&display=swap');

* {
  font-family: Montserrat;
  box-sizing: border-box;
  animation: fadein;
  animation-duration: 1s;
}

.grid-index {
  display: grid;
  padding-top: 7.5rem;
  padding-bottom: 2.5rem;
  grid-template-columns: repeat(2, 45%);
  gap: 1.5rem;
  justify-content: center;
}

.grid-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-items: center;
  align-items: bottom;
}

.grid-socials {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  justify-items: center;
  align-items: center;
}

.grid-construction {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(450px, 1fr));
}

.grid-container2 {
  padding-left: 7.5rem;
  gap: 5rem;
}

.grid-item-center {
  justify-self: center;
  align-self: center;
}

.grid-item {
  border: 0.1rem solid black;
  background-color: rgba(110, 50, 184, 0.1);
}

.grid-col-span-2 {
  grid-column: span 2;
}

.grid-row-span-2 {
  grid-row: span 2;
}

.grid-row-span-3 {
  grid-row: span 3;
}

.main-header {
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
}

.navigation {
  text-align: center;
}

.socials {
  text-align: center;
}

.me-pic {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.25rem;
}

.me-pic2 {
  height: 40rem;
  width: auto;
  object-fit: cover;
  border-radius: 0.25rem;
}

.me-pic-box {
  height:fit-content;
}

@keyframes fadein {
  from {opacity: 0}
  to {opacity: 1}
  from {scale: 0.9}
  to {scale: 1}
}

.section-header {
  font-size: 3.3rem;
  margin-bottom: 0;
}

.section-details {
  font-size: 1.3rem;
}

.section-subheader {
  font-size: 1.9rem;
}

.buttons li {
  display: inline-block;
  width: auto;
  height: 10rem;
  padding: 0 1.25rem;
  vertical-align: middle;
}

.button {
  display: inline-block;
  border-radius: 0.5rem;
  color: black;
  padding: 0.5em;
  text-decoration: none;
}

.bspecial1 {
  position:relative;
  margin-top: 2.5rem;
  right:1.3rem;
}

.hoverable {
  background-color: rgb(0,0,0,0.1);
  transition: scale 0.3s, background-color 0.3s;
}

.hoverable:hover {
  scale: 1.2;
  background-color: rgba(36, 217, 214, 0.7);
}

.centerable {
  text-align: center;
}

html, body {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 650px) {
  html {
    font-size: 10px
  }

  .grid-index {
    display: grid;
    padding-top: 7.5rem;
    padding-bottom: 2.5rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "picture"
      "picture"
      "title"
      "nav"
      "socs";
    gap: 1.5rem;
    justify-content: center;
  }

  .grid-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    justify-items: center;
    align-items: bottom;
  }
  
  .grid-socials {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    justify-items: center;
    align-items: center;
  }

  .main-header {
    grid-area: title;
  }

  .me-pic-grid {
    grid-area: picture;
  }

  .navigation {
    grid-area: nav;
  }

  .socials {
    grid-area: socs;
  }
}
