@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&family=Roboto:wght@100;300&display=swap');

* {
  font-family: Montserrat;
  box-sizing: border-box;
  animation: fadein;
  animation-duration: 1s;
}

.grid-index {
  display: grid;
  padding-top: 7.5rem;
  padding-bottom: 2.5rem;
  grid-template-columns: repeat(2, 45%);
  gap: 1.5rem;
  justify-content: center;
}

.grid-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-items: center;
  align-items: bottom;
}

.grid-buttons-teaching {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-items: center;
  align-items: bottom;
}

.grid-personal {
  display: grid;
  column-gap: 4rem;
  margin-top: 1.5rem;
  margin-right: 7.5rem;
  margin-left: 7.5rem;
  grid-template-columns: 1fr 0.5fr 0.1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 
    "top image1 ."
    "mid image1 ."
    "bot image2 .";
  justify-items:center;
  align-items: center;
}

.grid-socials {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  justify-items: center;
  align-items: center;
}

.grid-coursework {
  display: grid;
  justify-items: center;
  justify-items: center;
  gap: 1.5rem;
}

.grid-construction {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(450px, 1fr));
}

.grid-teaching {
  display: grid;
  margin: 5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: 
    "top top"
    "left1 right1"
    "left2 right2"
    "left3 right3"
    "nav nav";
  gap: 0.75rem;
  justify-items: center;
  align-items: center;
}

.personal-header {
  grid-area: top;
}

.personal-text {
  grid-area: mid;
}

.personal-buttons {
  grid-area: bot;
}

.personal-pic3 {
  grid-area: image2;
  
}

.personal-pic4 {
  grid-area: image1;
}

.projects-nav a {
  margin: 2rem;
}

.resize {
  width: 250px;
  height: auto;
}

.teaching-nav {
  grid-area: nav;
}

.teaching-header {
  grid-area: top;
}

.teaching-text1 {
  grid-area: left1;
}

.teaching-text2 {
  grid-area: right2;
}

.teaching-text3 {
  grid-area: left3;
}

.teaching-pic1 {
  grid-area: right1;
}

.teaching-pic2 {
  grid-area: left2;
}

.teaching-pic3 {
  grid-area: right3;
}

.grid-academics {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    ". topbub ."
    ". midbub ."
    "leftbub . rightbub";
  gap: 1rem;
  justify-items: center;
  align-items: center;
}

.central-bubble {
  grid-area: midbub;
}

.bubble1 {
  grid-area: topbub;
}

.bubble2 {
  grid-area: leftbub;
}

.bubble3 {
  grid-area: rightbub;
}

.grid-about {
  display: grid;
  padding-top: 7.5rem;
  padding-bottom: 2.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  justify-content: center;
  align-content: center;
}

.grid-project {
  display: grid;
  padding-top: 7.5rem;
  padding-bottom: 2.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 1.5rem;
  justify-content: center;
  align-content: center;
}

.grid-item-center {
  justify-self: center;
  align-self: center;
}

.grid-item {
  border: 0.1rem solid black;
  background-color: rgba(110, 50, 184, 0.1);
}

.grid-item-background {
  border-radius: 0.5rem;
}

.grid-col-span-2 {
  grid-column: span 2;
}

.grid-row-span-2 {
  grid-row: span 2;
}

.grid-row-span-3 {
  grid-row: span 3;
}

.main-header {
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
}

.navigation, .cons-nav {
  text-align: center;
}

.socials {
  text-align: center;
}

.me-pic {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.25rem;
}

.me-pic2 {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.25rem;
}

.me-pic-box {
  height:fit-content;
}

@keyframes fadein {
  from {opacity: 0}
  to {opacity: 1}
  from {scale: 0.9}
  to {scale: 1}
}

.section-header {
  font-size: 3.3rem;
  margin-bottom: 0;
}

.section-details {
  font-size: 1.3rem;
  line-height: 2.3rem;
}

.section-subheader {
  font-size: 1.9rem;
}

.buttons li {
  display: inline-block;
  width: auto;
  height: 10rem;
  padding: 0 1.25rem;
  vertical-align: middle;
}

.button {
  display: inline-block;
  border-radius: 0.5rem;
  color: black;
  padding: 0.5em;
  text-decoration: none;
}

.r-button {
  display: inline-block;
  border-radius: 50%;
  color: black;
  padding: 6rem;
  text-decoration: none;
  font-size: larger;
  font-weight: bold;
}

.hoverable {
  background-color: rgb(0,0,0,0.1);
  transition: scale 0.3s, background-color 0.3s;
}

.hoverable:hover {
  scale: 1.2;
  background-color: rgba(36, 217, 214, 0.7);
}

.centerable {
  text-align: center;
}

.list li {
  margin: 1rem;
}

ul li {
  list-style: none;
  position: relative;
  padding: 3px 0 2px 25px;
}

li:before {
  content: ""; 
  position: absolute; 
  left: 0; 
  top: 5px;
  background: #f9dd94;
  width: 10px; 
  height: 10px;
  text-align: center; 
  transform: rotate(0deg);
}
    

html, body {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 900px) {
  html {
    font-size: 10px
  }

  .grid-construction {
    display: grid;
    padding-top: 7.5rem;
    padding-bottom: 2.5rem;
    gap: 1.5rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-content: center;
  }

  .grid-about {
    display: grid;
    margin: 1.5rem;
    padding-top: 7.5rem;
    padding-bottom: 2.5rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1.5rem;
    justify-content: center;
    align-content: center;
  }

  .grid-index {
    display: grid;
    padding-top: 7.5rem;
    padding-bottom: 2.5rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "picture"
      "picture"
      "title"
      "nav"
      "socs";
    gap: 1.5rem;
    justify-content: center;
  }

  .grid-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    justify-items: center;
    align-items: bottom;
  }
  
  .grid-socials {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    justify-items: center;
    align-items: center;
  }

  .main-header {
    grid-area: title;
  }

  .me-pic-grid {
    grid-area: picture;
  }

  .navigation {
    grid-area: nav;
  }

  .socials {
    grid-area: socs;
  }
}
